<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDDYCOBumqFAFseU9k_ycDjyUZ_RMSk0oQ</string>
	<key>GCM_SENDER_ID</key>
	<string>618250206439</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.duhanboblanli.Dietitian-Calorie-Counter</string>
	<key>PROJECT_ID</key>
	<string>dietitian-calorie-counter</string>
	<key>STORAGE_BUCKET</key>
	<string>dietitian-calorie-counter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:618250206439:ios:97ac37eb6253642b663642</string>
</dict>
</plist>